html{
	font-size: 16px;
}

body {
	font-family: 'Montserrat', Helvetica, Arial, sans-serif;
	font-size: 1em;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: row wrap;
}

.container{
	max-width: 1200px;
	width: 90%;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: row wrap;
}

h1,
h2,
h3 {
	color: black;
	text-transform: uppercase;
	font-weight: 700;
}
h1 {
	font-size: 1.875em;
}
h2 {
	font-size: 1.125em;
}
h3 {
	font-size: 0.75em;
}

p {
	font-size: 0.875em;
	line-height: 1.313em;
}

/*The widths are in a percentage!*/
header {
	height: auto;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: column wrap;
	text-align: center;
	width: 100%;
}

header h1 {
	border-bottom: 3px solid #77a466;
	margin: 0;
	padding-top: 38px;
	padding-bottom: 20px;
	text-align: center;
	width: 100%;
}

header h1 span {
	color: #77a466;
}

header nav {
	
	padding: 24px 0;
}
header nav ul {
	margin: 0;
	padding: 0;
}
header nav ul li {
	display: flow-root;
	font-weight: 700;
	font-size: 0.875em;
	line-height: 40px;
	padding: 0 10px;
	text-transform: uppercase;
}
header nav ul li a{
	color:#77a466;
	text-decoration: none;
}

/*The widths are in a percentage!*/
.top-section,
.bottom-section {
	margin: 0 auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: column wrap;
	
}

.main-image {
	height: auto;
	
}
.main-image img {
	border-bottom: 3px solid #77a466;
	border-top: 3px solid #77a466;
	width: 100%;
}

.main-title {
	height: auto;
	
}
.main-title h2 {
	color: #77a466;
	padding: 5px 0;
	text-align: left;
}
.main-title p {
	font-size: 1em;
	line-height: 25px;
	padding: 0;
}

.section-one,
.section-two,
.section-three {
	border-top: 1px solid #eee;
	height: auto;
	width: 100%;
}

.section-one h3 {
	padding: 10px 0;
}



.menu {
	list-style: none;
	padding: 0;
}
.menu li {
	color:#77a466;
	padding: 0.625em 0;
	
}

.reviews {
	color: #333;
	font-size: 1em;
	line-height: 21px;
}

.address {
	font-size: 1em;
	line-height: 24px;
}

/*The widths are in a percentage!*/
footer {
	
	border-top: 3px solid #eee;
	margin: 0 auto;
	text-align: center;
	display: flex;
  	justify-content: center;
  	align-items: center;
	flex-flow: row wrap;
	width: 100%;
}
footer span {
	color: #77a466;
	font-family: 'Galada', cursive;
	font-size: 0.875em;
	text-transform: lowercase;
}



@media all and (min-width:768px) {
    /* Tablet styles here */

	.bottom-section {
		flex-flow: row;
		justify-content: space-between;
	}

	.section-one,
	.section-two,
	.section-three {
		flex-basis: 30%;
		
		height: 250px;
		
	}

	.section-one,
	.section-two {
		padding-right: 15px;
	}

	.section-two,
	.section-three {
		padding-left: 15px;
	}


	.section-one h3 {
		padding: 0;
	}

	
	.section-two {
		border-left: 1px solid #eee;
		border-right: 1px solid #eee;
	}

	
	
}

@media all and (min-width:1200px) {
    /* Desktop styles here */


 
}